{"swagger": "2.0", "info": {"title": "DevOpsPlatform REST API", "description": "DevOpsPlatform REST API", "termsOfService": "", "contact": {"email": "yangli@xgd.com"}, "license": {"name": "GPLv3 License"}, "version": "v2"}, "host": "ci.jlpay.com", "schemes": ["http", "https"], "basePath": "/", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"basic": {"type": "basic"}}, "security": [{"basic": []}], "paths": {"/api/v2/approval/approvals/": {"get": {"operationId": "api_v2_approval_approvals_list", "description": "\u5ba1\u6279\u6d41\u7a0b\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Approval"}}}}}}, "tags": ["approval"]}, "post": {"operationId": "api_v2_approval_approvals_create", "description": "\u5ba1\u6279\u6d41\u7a0b\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Approval"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Approval"}}}, "tags": ["approval"]}, "parameters": []}, "/api/v2/approval/approvals/{fid}/": {"get": {"operationId": "api_v2_approval_approvals_read", "description": "\u5ba1\u6279\u6d41\u7a0b\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Approval"}}}, "tags": ["approval"]}, "put": {"operationId": "api_v2_approval_approvals_update", "description": "\u66f4\u65b0\u5ba1\u6279\u6d41\u7a0b", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Approval"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Approval"}}}, "tags": ["approval"]}, "patch": {"operationId": "api_v2_approval_approvals_partial_update", "description": "\u5ba1\u6279\u6d41\u7a0b\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Approval"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Approval"}}}, "tags": ["approval"]}, "delete": {"operationId": "api_v2_approval_approvals_delete", "description": "\u5ba1\u6279\u6d41\u7a0b\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["approval"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique value identifying this \u5ba1\u6279\u6d41\u7a0b\u5355.", "required": true, "type": "string"}]}, "/api/v2/approval/approvals/{username}/{type}/info/": {"get": {"operationId": "api_v2_approval_approvals_info_list", "description": "\u83b7\u53d6\u7528\u6237\u7684\u76f8\u5173\u7684\u5ba1\u6279\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["approval"]}, "parameters": [{"name": "type", "in": "path", "required": true, "type": "string"}, {"name": "username", "in": "path", "required": true, "type": "string"}]}, "/api/v2/approval/templates/": {"get": {"operationId": "api_v2_approval_templates_list", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ApprovalTemplates"}}}}}}, "tags": ["approval"]}, "post": {"operationId": "api_v2_approval_templates_create", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ApprovalTemplates"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplates"}}}, "tags": ["approval"]}, "parameters": []}, "/api/v2/approval/templates/groups/": {"get": {"operationId": "api_v2_approval_templates_groups_list", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u5206\u7ec4\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ApprovalTemplateGroup"}}}}}}, "tags": ["approval"]}, "post": {"operationId": "api_v2_approval_templates_groups_create", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u5206\u7ec4\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ApprovalTemplateGroup"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplateGroup"}}}, "tags": ["approval"]}, "parameters": []}, "/api/v2/approval/templates/groups/{fid}/": {"get": {"operationId": "api_v2_approval_templates_groups_read", "description": "\u83b7\u53d6\u5355\u4e2a\u5206\u7ec4\u7684\u8be6\u60c5\u6570\u636e", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplateGroup"}}}, "tags": ["approval"]}, "put": {"operationId": "api_v2_approval_templates_groups_update", "description": "\u4fee\u6539\u5206\u7ec4\u7684\u6570\u636e", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ApprovalTemplateGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplateGroup"}}}, "tags": ["approval"]}, "patch": {"operationId": "api_v2_approval_templates_groups_partial_update", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u5206\u7ec4\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ApprovalTemplateGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplateGroup"}}}, "tags": ["approval"]}, "delete": {"operationId": "api_v2_approval_templates_groups_delete", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u5206\u7ec4\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["approval"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique integer value identifying this \u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u5206\u7ec4.", "required": true, "type": "integer"}]}, "/api/v2/approval/templates/{fid}/": {"get": {"operationId": "api_v2_approval_templates_read", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplates"}}}, "tags": ["approval"]}, "put": {"operationId": "api_v2_approval_templates_update", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ApprovalTemplates"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplates"}}}, "tags": ["approval"]}, "patch": {"operationId": "api_v2_approval_templates_partial_update", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ApprovalTemplates"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ApprovalTemplates"}}}, "tags": ["approval"]}, "delete": {"operationId": "api_v2_approval_templates_delete", "description": "\u5ba1\u6279\u6d41\u7a0b\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["approval"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique integer value identifying this \u5ba1\u6279\u6d41\u7a0b\u6a21\u677f.", "required": true, "type": "integer"}]}, "/api/v2/apps/": {"get": {"operationId": "api_v2_apps_list", "description": "\u5e94\u7528\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "app_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "app_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "tags", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "project_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/App"}}}}}}, "tags": ["apps"]}, "post": {"operationId": "api_v2_apps_create", "description": "\u5e94\u7528\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/App"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/App"}}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/batch/env/value/": {"post": {"operationId": "api_v2_apps_batch_env_value_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/blueking/": {"get": {"operationId": "api_v2_apps_blueking_list", "description": "\u63d0\u4f9b\u5e94\u7528\u540d\u7ed9\u84dd\u9cb8", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/dependent-packages/": {"get": {"operationId": "api_v2_apps_dependent-packages_list", "description": "\u83b7\u53d6\u5e94\u7528\u4f9d\u8d56\u5305", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "post": {"operationId": "api_v2_apps_dependent-packages_create", "description": "\u66f4\u65b0\u5e94\u7528\u4f9d\u8d56\u5305", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/dependent-packages/report/": {"get": {"operationId": "api_v2_apps_dependent-packages_report_list", "description": "\u4f9d\u8d56\u5305\u62a5\u544a", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/front/app/last/images/": {"get": {"operationId": "api_v2_apps_front_app_last_images_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/init/data/": {"post": {"operationId": "api_v2_apps_init_data_create", "description": "\u6279\u91cf\u521d\u59cb\u5316\u6240\u6709\u5e94\u7528\u63cf\u8ff0\n\u4eceGitLab\u4ed3\u5e93\u83b7\u53d6\u63cf\u8ff0\u5e76\u66f4\u65b0\u5230\u5e94\u7528\u63cf\u8ff0\u5b57\u6bb5", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/inspect/online/version/": {"get": {"operationId": "api_v2_apps_inspect_online_version_list", "description": "\u7ebf\u4e0a\u5e94\u7528\u7248\u672c\u6570\u636e\u5de1\u68c0", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "post": {"operationId": "api_v2_apps_inspect_online_version_create", "description": "\u7ebf\u4e0a\u5e94\u7528\u7248\u672c\u6570\u636e\u5de1\u68c0", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/layout/resource/kinds/": {"get": {"operationId": "api_v2_apps_layout_resource_kinds_list", "description": "\u5e94\u7528\u7f16\u6392\u8d44\u6e90\u7c7b\u578b\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AppLayoutResourceKind"}}}}}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/layout/resource/kinds/{id}/": {"get": {"operationId": "api_v2_apps_layout_resource_kinds_read", "description": "\u5e94\u7528\u7f16\u6392\u8d44\u6e90\u7c7b\u578b\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppLayoutResourceKind"}}}, "tags": ["apps"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u5e94\u7528\u7f16\u6392\u8d44\u6e90\u7c7b\u578b.", "required": true, "type": "integer"}]}, "/api/v2/apps/layout/templates/": {"get": {"operationId": "api_v2_apps_layout_templates_list", "description": "\u5e94\u7528\u7f16\u6392\u6a21\u677f\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AppLayoutTemplate"}}}}}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/layout/templates/{id}/": {"get": {"operationId": "api_v2_apps_layout_templates_read", "description": "\u5e94\u7528\u7f16\u6392\u6a21\u677f\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppLayoutTemplate"}}}, "tags": ["apps"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u5e94\u7528\u7f16\u6392\u6a21\u677f.", "required": true, "type": "integer"}]}, "/api/v2/apps/offline/": {"delete": {"operationId": "api_v2_apps_offline_delete", "description": "\u5e94\u7528\u4e0b\u7ebf\u64cd\u4f5c", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/online/version/": {"get": {"operationId": "api_v2_apps_online_version_list", "description": "\u7ebf\u4e0a\u5e94\u7528\u7248\u672c\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/online/version/chart/diff/": {"get": {"operationId": "api_v2_apps_online_version_chart_diff_list", "description": "\u7ebf\u4e0a\u7248\u672c\u5dee\u5f02\u56fe\u8868\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/online/version/table/disaccord/": {"get": {"operationId": "api_v2_apps_online_version_table_disaccord_list", "description": "\u673a\u623f\u7248\u672c\u4e0d\u4e00\u81f4\u7684\u5e94\u7528", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/online/version/table/noversion/": {"get": {"operationId": "api_v2_apps_online_version_table_noversion_list", "description": "\u65e0\u7248\u672c\u5173\u8054\u4fe1\u606f\u7684\u5e94\u7528", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/repo/info/": {"get": {"operationId": "api_v2_apps_repo_info_list", "description": "\u83b7\u53d6\u5e94\u7528\u4ed3\u5e93\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/templates/{id}/": {"post": {"operationId": "api_v2_apps_templates_create", "description": "\u4f7f\u7528\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u521b\u5efa\u5e94\u7528\u5143\u6570\u636e", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/templates/{id}/values/": {"get": {"operationId": "api_v2_apps_templates_values_list", "description": "\u83b7\u53d6\u5e94\u7528\u53c2\u6570", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/versions/": {"get": {"operationId": "api_v2_apps_versions_list", "description": "\u67e5\u8be2\u5e94\u7528\u7248\u672c\u8bb0\u5f55", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": []}, "/api/v2/apps/{app_id}/envs/{env}/deploy/resources/": {"get": {"operationId": "api_v2_apps_envs_deploy_resources_list", "description": "\u83b7\u53d6\u5e94\u7528\u5bf9\u5e94\u73af\u5883\u7684\u90e8\u7f72\u8d44\u6e90\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}, {"name": "env", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{app_id}/layout/resources/": {"get": {"operationId": "api_v2_apps_layout_resources_list", "description": "\u5e94\u7528\u7f16\u6392\u8d44\u6e90\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AppLayoutResource"}}}}}}, "tags": ["apps"]}, "post": {"operationId": "api_v2_apps_layout_resources_create", "description": "\u5e94\u7528\u7f16\u6392\u8d44\u6e90\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppLayoutResource"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AppLayoutResource"}}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{app_id}/pipelines/": {"get": {"operationId": "api_v2_apps_pipelines_list", "description": "\u67e5\u8be2\u5e94\u7528\u7248\u672c", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{app_id}/tags/": {"put": {"operationId": "api_v2_apps_tags_update", "description": "\u4fee\u6539\u5e94\u7528\u7684\u6807\u7b7e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{app_id}/tickets/": {"get": {"operationId": "api_v2_apps_tickets_list", "description": "\u67e5\u8be2\u5e94\u7528\u5de5\u5355", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{app_id}/values/": {"get": {"operationId": "api_v2_apps_values_list", "description": "\u83b7\u53d6\u5e94\u7528\u53c2\u6570", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "put": {"operationId": "api_v2_apps_values_update", "description": "\u4fee\u6539\u5e94\u7528\u53c2\u6570", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{app_id}/values/sync/": {"post": {"operationId": "api_v2_apps_values_sync_create", "description": "\u5e94\u7528\u53c2\u6570\u73af\u5883\u540c\u6b65", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{app_id}/versions/": {"get": {"operationId": "api_v2_apps_versions_list", "description": "\u67e5\u8be2\u5e94\u7528\u7248\u672c", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/apps/{fid}/": {"get": {"operationId": "api_v2_apps_read", "description": "\u5e94\u7528\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/App"}}}, "tags": ["apps"]}, "put": {"operationId": "api_v2_apps_update", "description": "\u4fee\u6539\u5e94\u7528\u6570\u636e", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/App"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/App"}}}, "tags": ["apps"]}, "patch": {"operationId": "api_v2_apps_partial_update", "description": "\u5e94\u7528\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/App"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/App"}}}, "tags": ["apps"]}, "delete": {"operationId": "api_v2_apps_delete", "description": "\u5e94\u7528\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique integer value identifying this \u5e94\u7528.", "required": true, "type": "integer"}]}, "/api/v2/apps/{target_app_id}/copy/": {"post": {"operationId": "api_v2_apps_copy_create", "description": "\u590d\u5236\u5e94\u7528\u53c2\u6570", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["apps"]}, "parameters": [{"name": "target_app_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/audits/operate-logs/": {"get": {"operationId": "api_v2_audits_operate-logs_list", "description": "", "parameters": [{"name": "user", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "action", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "resource_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "resource", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "remote_addr", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "date_from", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "date_to", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/OperateLog"}}}}}}, "tags": ["audits"]}, "parameters": []}, "/api/v2/audits/operate-logs/{id}/": {"get": {"operationId": "api_v2_audits_operate-logs_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OperateLog"}}}, "tags": ["audits"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/auth/access-keys/": {"get": {"operationId": "api_v2_auth_access-keys_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AccessKey"}}}}}}, "tags": ["auth"]}, "post": {"operationId": "api_v2_auth_access-keys_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccessKey"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["auth"]}, "parameters": []}, "/api/v2/auth/access-keys/{id}/": {"get": {"operationId": "api_v2_auth_access-keys_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["auth"]}, "put": {"operationId": "api_v2_auth_access-keys_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccessKey"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["auth"]}, "patch": {"operationId": "api_v2_auth_access-keys_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccessKey"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["auth"]}, "delete": {"operationId": "api_v2_auth_access-keys_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["auth"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/auth/bearer-tokens/": {"post": {"operationId": "api_v2_auth_bearer-tokens_create", "description": "\u7528\u6237\u4e34\u65f6token\u751f\u6210\u63a5\u53e3", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/User"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/User"}}}, "tags": ["auth"]}, "parameters": []}, "/api/v2/auth/oauth2/jump": {"get": {"operationId": "api_v2_auth_oauth2_jump_list", "summary": "\u751f\u6210OAuth2\u6388\u6743URL\u5e76\u91cd\u5b9a\u5411", "description": "\u53c2\u6570\uff1a\n- app_id: \u5e94\u7528ID\uff08\u53ef\u9009\uff09\n- scope: \u6388\u6743\u8303\u56f4\uff08\u53ef\u9009\uff09\n- debug: \u662f\u5426\u8fd4\u56deJSON\u800c\u4e0d\u662f\u91cd\u5b9a\u5411\uff08\u7528\u4e8e\u8c03\u8bd5\uff09", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["auth"]}, "parameters": []}, "/api/v2/auth/signature/": {"post": {"operationId": "api_v2_auth_signature_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["auth"]}, "parameters": []}, "/api/v2/auth/tokens/": {"post": {"operationId": "api_v2_auth_tokens_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BearerToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BearerToken"}}}, "tags": ["auth"]}, "parameters": []}, "/api/v2/basic/ai/solution/": {"post": {"operationId": "api_v2_basic_ai_solution_create", "description": "\u83b7\u53d6 AI \u667a\u80fd\u89e3\u51b3\u65b9\u6848", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/airflow/notice/": {"post": {"operationId": "api_v2_basic_airflow_notice_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/git/groups/search/": {"get": {"operationId": "api_v2_basic_git_groups_search_list", "description": "\u83b7\u53d6git\u6240\u6709\u7684\u9879\u76ee\u7ec4", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/git/projects/": {"get": {"operationId": "api_v2_basic_git_projects_list", "description": "\u83b7\u53d6git\u6240\u6709\u7684\u9879\u76ee", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/git/projects/branchs/": {"get": {"operationId": "api_v2_basic_git_projects_branchs_list", "description": "\u83b7\u53d6\u9879\u76ee\u6240\u6709\u7684\u5206\u652f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/git/projects/search/": {"get": {"operationId": "api_v2_basic_git_projects_search_list", "description": "\u83b7\u53d6git\u6240\u6709\u7684\u9879\u76ee", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/tapd/demand/schemes/change/": {"get": {"operationId": "api_v2_basic_tapd_demand_schemes_change_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "post": {"operationId": "api_v2_basic_tapd_demand_schemes_change_create", "description": "\u76d1\u542c\u9700\u6c42\u9879\u76ee\u53d8\u66f4", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/tapd/schemes/change/": {"post": {"operationId": "api_v2_basic_tapd_schemes_change_create", "description": "\u76d1\u542c\u9879\u76ee\u53d8\u66f4", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/tapd/use/report/": {"get": {"operationId": "api_v2_basic_tapd_use_report_list", "description": "\u83b7\u53d6\u7528\u6237\u5217\u8868", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/tapd/{scheme_id}/compensate/": {"post": {"operationId": "api_v2_basic_tapd_compensate_create", "description": "\u9879\u76ee\u7684\u9700\u6c42\u6570\u636e\u8865\u507f", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": [{"name": "scheme_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/basic/users/": {"get": {"operationId": "api_v2_basic_users_list", "description": "\u83b7\u53d6\u7528\u6237\u5217\u8868", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/webhook/aliyun-devops/codeup/": {"get": {"operationId": "api_v2_basic_webhook_aliyun-devops_codeup_list", "description": "Ali DevOps Codeup Webhooks", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "post": {"operationId": "api_v2_basic_webhook_aliyun-devops_codeup_create", "description": "Ali DevOps Codeup Webhooks", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/webhook/aliyun-devops/flow/": {"get": {"operationId": "api_v2_basic_webhook_aliyun-devops_flow_list", "description": "Ali DevOps Flow Webhooks", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "post": {"operationId": "api_v2_basic_webhook_aliyun-devops_flow_create", "description": "Ali DevOps Flow Webhooks", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/webhook/blueking": {"get": {"operationId": "api_v2_basic_webhook_blueking_list", "description": "Blueking webhooks", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "post": {"operationId": "api_v2_basic_webhook_blueking_create", "description": "Blueking webhooks", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/basic/webhook/gitlab/notice/{notice_group_id}/": {"get": {"operationId": "api_v2_basic_webhook_gitlab_notice_read", "description": "gitlab notice group webhooks", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "post": {"operationId": "api_v2_basic_webhook_gitlab_notice_create", "description": "gitlab notice group webhooks", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": [{"name": "notice_group_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/basic/webhook/tapd": {"get": {"operationId": "api_v2_basic_webhook_tapd_list", "description": "TAPD webhooks", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["basic"]}, "post": {"operationId": "api_v2_basic_webhook_tapd_create", "description": "TAPD webhooks", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["basic"]}, "parameters": []}, "/api/v2/kanban/app-group-code-bug-rates/data/": {"get": {"operationId": "api_v2_kanban_app-group-code-bug-rates_data_list", "description": "\u540c\u6b65\u83b7\u53d6\u5e94\u7528\u7ec4\u7684\u5343\u884c\u4ee3\u7801\u7f3a\u9677\u7387", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/bug/metrics/sync/data/": {"get": {"operationId": "api_v2_kanban_bug_metrics_sync_data_list", "description": "\u540c\u6b65\u83b7\u53d6\u7f3a\u9677\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/charts/blueking/tickets/": {"get": {"operationId": "api_v2_kanban_charts_blueking_tickets_list", "description": "\u83b7\u53d6\u84dd\u9cb8\u5de5\u5355\u62a5\u8868\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/code-bug-rates/data/": {"get": {"operationId": "api_v2_kanban_code-bug-rates_data_list", "description": "\u5343\u884c\u4ee3\u7801\u7f3a\u9677\u7387", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "post": {"operationId": "api_v2_kanban_code-bug-rates_data_create", "description": "\u5343\u884c\u4ee3\u7801\u7f3a\u9677\u7387", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/demand/metrics/sync/data/": {"get": {"operationId": "api_v2_kanban_demand_metrics_sync_data_list", "description": "\u540c\u6b65\u83b7\u53d6\u9700\u6c42\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/demand/person/sync/metrics/": {"get": {"operationId": "api_v2_kanban_demand_person_sync_metrics_list", "description": "\u540c\u6b65\u83b7\u53d6\u4e2a\u4eba\u7684\u9700\u6c42\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/demand/stage/data/": {"get": {"operationId": "api_v2_kanban_demand_stage_data_list", "description": "\u9700\u6c42\u9636\u6bb5\u6570\u636e\u62a5\u8868", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/person/sync/metrics/": {"get": {"operationId": "api_v2_kanban_git_person_sync_metrics_list", "description": "\u540c\u6b65\u83b7\u53d6\u4e2a\u4eba\u7684\u4ee3\u7801\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/project/data/": {"get": {"operationId": "api_v2_kanban_git_project_data_list", "description": "Git\u9879\u76ee\u7edf\u8ba1\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/project/sonar/data/": {"get": {"operationId": "api_v2_kanban_git_project_sonar_data_list", "description": "Git Sonar\u7edf\u8ba1\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/projects/": {"get": {"operationId": "api_v2_kanban_git_projects_list", "description": "Git\u7edf\u8ba1\u9879\u76ee", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/summary/data/task/": {"get": {"operationId": "api_v2_kanban_git_summary_data_task_list", "description": "Git \u7edf\u8ba1\u6570\u636e\u66f4\u65b0\u4efb\u52a1", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "post": {"operationId": "api_v2_kanban_git_summary_data_task_create", "description": "Git \u7edf\u8ba1\u6570\u636e\u66f4\u65b0\u4efb\u52a1", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/summary/metrics/async/data/": {"get": {"operationId": "api_v2_kanban_git_summary_metrics_async_data_list", "description": "Git\u7edf\u8ba1\u6570\u636e-\u5f02\u6b65\u63a5\u53e3", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "post": {"operationId": "api_v2_kanban_git_summary_metrics_async_data_create", "description": "Git\u7edf\u8ba1\u6570\u636e-\u5f02\u6b65\u63a5\u53e3", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/summary/metrics/sync/data/": {"get": {"operationId": "api_v2_kanban_git_summary_metrics_sync_data_list", "description": "Git\u7edf\u8ba1\u6570\u636e-\u540c\u6b65\u63a5\u53e3", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/summary/report/": {"get": {"operationId": "api_v2_kanban_git_summary_report_list", "description": "git \u7edf\u8ba1\u62a5\u544a", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "post": {"operationId": "api_v2_kanban_git_summary_report_create", "description": "\u53d1\u9001Git\u7edf\u8ba1\u62a5\u544a", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/git/summary/scheme/data/": {"get": {"operationId": "api_v2_kanban_git_summary_scheme_data_list", "description": "git\u4ee3\u7801\u7edf\u8ba1-\u9879\u76ee\u7ec4\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/insight/descriptive-analysis/": {"get": {"operationId": "api_v2_kanban_insight_descriptive-analysis_list", "description": "\u6307\u6807\u6d1e\u5bdf: \u63cf\u8ff0\u578b\u5206\u6790", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/insight/diagnostic-analysis/": {"get": {"operationId": "api_v2_kanban_insight_diagnostic-analysis_list", "description": "\u6307\u6807\u6d1e\u5bdf\uff1a\u8bca\u65ad\u578b\u5206\u6790", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/insight/improvement-measures/": {"get": {"operationId": "api_v2_kanban_insight_improvement-measures_list", "description": "\u6307\u6807\u6d1e\u5bdf\uff1a\u6539\u8fdb\u63aa\u65bd", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/insight/story-delay/predict/": {"get": {"operationId": "api_v2_kanban_insight_story-delay_predict_list", "description": "\u9884\u6d4b\u9700\u6c42\u662f\u5426\u5b58\u5728\u5ef6\u671f\u98ce\u9669", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/pipeline/metrics/async/data/": {"get": {"operationId": "api_v2_kanban_pipeline_metrics_async_data_list", "description": "\u6d41\u6c34\u7ebf\u7edf\u8ba1\u6570\u636e-\u5f02\u6b65\u63a5\u53e3", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "post": {"operationId": "api_v2_kanban_pipeline_metrics_async_data_create", "description": "\u6d41\u6c34\u7ebf\u7edf\u8ba1\u6570\u636e-\u5f02\u6b65\u63a5\u53e3", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/pipeline/metrics/sync/data/": {"get": {"operationId": "api_v2_kanban_pipeline_metrics_sync_data_list", "description": "\u540c\u6b65\u83b7\u53d6\u6d41\u6c34\u7ebf\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/pipeline/person/sync/metrics/": {"get": {"operationId": "api_v2_kanban_pipeline_person_sync_metrics_list", "description": "\u540c\u6b65\u83b7\u53d6\u4e2a\u4eba\u7684\u6d41\u6c34\u7ebf\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/scheme/iterations/": {"get": {"operationId": "api_v2_kanban_scheme_iterations_list", "description": "\u83b7\u53d6\u9879\u76ee\u7684\u8fed\u4ee3", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/scheme/statistics/data/": {"get": {"operationId": "api_v2_kanban_scheme_statistics_data_list", "description": "\u9879\u76ee\u7edf\u8ba1\u6570\u636e\u62a5\u8868", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/sonar/metrics/sync/data/": {"get": {"operationId": "api_v2_kanban_sonar_metrics_sync_data_list", "description": "\u540c\u6b65\u83b7\u53d6sonar\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/statistics/reports/": {"post": {"operationId": "api_v2_kanban_statistics_reports_create", "description": "\u7edf\u8ba1\u62a5\u544a", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/ticket/summary/data/": {"get": {"operationId": "api_v2_kanban_ticket_summary_data_list", "description": "\u5de5\u5355\u7edf\u8ba1\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/work/metrics/sync/data/": {"get": {"operationId": "api_v2_kanban_work_metrics_sync_data_list", "description": "\u540c\u6b65\u83b7\u53d6\u5de5\u4f5c\u9879\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/work/person/sync/metrics/": {"get": {"operationId": "api_v2_kanban_work_person_sync_metrics_list", "description": "\u540c\u6b65\u83b7\u53d6\u4e2a\u4eba\u7684\u5de5\u4f5c\u9879\u6307\u6807\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": []}, "/api/v2/kanban/workbench/demands/stages/{username}/": {"get": {"operationId": "api_v2_kanban_workbench_demands_stages_read", "description": "\u83b7\u53d6\u7528\u6237\u7684\u9700\u6c42\u9636\u6bb5\u8be6\u60c5", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/api/v2/kanban/workbench/users/{username}/merges/{merge_type}/": {"get": {"operationId": "api_v2_kanban_workbench_users_merges_read", "description": "\u83b7\u53d6\u7528\u6237\u7684merge\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": [{"name": "merge_type", "in": "path", "required": true, "type": "string"}, {"name": "username", "in": "path", "required": true, "type": "string"}]}, "/api/v2/kanban/workbench/work-items/{username}/": {"get": {"operationId": "api_v2_kanban_workbench_work-items_read", "description": "\u67e5\u8be2\u7528\u6237\u5de5\u4f5c\u4e8b\u9879", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["kanban"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/api/v2/kanban/workspaces/{workspace_id}/stories/codes/": {"get": {"operationId": "api_v2_kanban_workspaces_stories_codes_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "app_name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "status", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "username", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "developer", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "time_range", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "create_time__gte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "create_time__lte", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/WorkspaceStoryCode"}}}}}}, "tags": ["kanban"]}, "parameters": [{"name": "workspace_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/kanban/workspaces/{workspace_id}/stories/codes/{fid}/": {"get": {"operationId": "api_v2_kanban_workspaces_stories_codes_read", "description": "\u83b7\u53d6\u5355\u4e2a\u9700\u6c42\u9879\u76ee\u7684\u6570\u636e", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WorkspaceStoryCode"}}}, "tags": ["kanban"]}, "parameters": [{"name": "fid", "in": "path", "required": true, "type": "string"}, {"name": "workspace_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/ansible/hosts/{host_id}/": {"get": {"operationId": "api_v2_manage_ansible_hosts_read", "description": "\u83b7\u53d6ansible host", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_ansible_hosts_create", "description": "\u65b0\u589e ansible host", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_ansible_hosts_update", "description": "\u4fee\u6539 ansible host", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_ansible_hosts_delete", "description": "\u5220\u9664 ansible host", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "host_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/env/{env_id}/": {"get": {"operationId": "api_v2_manage_apollo_env_read", "description": "\u83b7\u53d6apollo \u73af\u5883", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_apollo_env_create", "description": "\u65b0\u589eapollo \u73af\u5883", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_apollo_env_update", "description": "\u4fee\u6539apollo \u73af\u5883", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_apollo_env_delete", "description": "\u5220\u9664apollo \u73af\u5883", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "env_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/portal/{portal_id}/": {"get": {"operationId": "api_v2_manage_apollo_portal_read", "description": "\u83b7\u53d6apollo portal\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_apollo_portal_create", "description": "\u65b0\u589eapollo portal\u4fe1\u606f", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_apollo_portal_update", "description": "\u4fee\u6539apollo portal\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_apollo_portal_delete", "description": "\u5220\u9664apollo portal\u4fe1\u606f", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "portal_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/release/batch/": {"get": {"operationId": "api_v2_manage_apollo_release_batch_list", "description": "apollo\u6279\u91cf\u53d1\u5e03", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_apollo_release_batch_create", "description": "apollo\u6279\u91cf\u53d1\u5e03", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/apollo/role/batch/": {"get": {"operationId": "api_v2_manage_apollo_role_batch_list", "description": "apollo \u6279\u91cf\u6743\u9650\u53d1\u5e03", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_apollo_role_batch_create", "description": "\u6279\u91cf\u5237\u65b0\u7528\u6237\u6743\u9650", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/apollo/role/user/{username}/": {"get": {"operationId": "api_v2_manage_apollo_role_user_read", "description": "apollo\u6743\u9650\u64cd\u4f5c", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_apollo_role_user_create", "description": "\u65b0\u589e\u7528\u6237\u6743\u9650", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/token/{token_id}/": {"post": {"operationId": "api_v2_manage_apollo_token_create", "description": "\u8bbe\u7f6e\u8be5token\u7684\u6240\u6709\u9879\u76ee\u6743\u9650", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "token_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/user/{username}/": {"get": {"operationId": "api_v2_manage_apollo_user_read", "description": "\u83b7\u53d6\u7528\u6237\u90e8\u95e8\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_apollo_user_create", "description": "\u65b0\u589e\u3001\u4fee\u6539\u7528\u6237\u90e8\u95e8\u6570\u636e", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_apollo_user_delete", "description": "\u5220\u9664\u7528\u6237\u90e8\u95e8\u6570\u636e", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/{env}/change/details/": {"get": {"operationId": "api_v2_manage_apollo_change_details_list", "description": "\u83b7\u53d6apollo \u53d8\u66f4\u8bb0\u5f55\u8be6\u60c5", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "env", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/{env}/change/log/": {"get": {"operationId": "api_v2_manage_apollo_change_log_list", "description": "\u83b7\u53d6apollo \u53d8\u66f4\u8bb0\u5f55\u5217\u8868", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "env", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/apollo/{env}/global/search/": {"get": {"operationId": "api_v2_manage_apollo_global_search_list", "description": "Apollo \u5168\u5c40\u641c\u7d22", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "env", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/clusters/": {"get": {"operationId": "api_v2_manage_clusters_list", "description": "\u83b7\u53d6\u96c6\u7fa4\u5217\u8868\uff0c\u652f\u6301\u6743\u9650\u63a7\u5236\uff1a\n1. \u7ba1\u7406\u5458\u7528\u6237\u53ef\u4ee5\u83b7\u53d6\u6240\u6709\u96c6\u7fa4\n2. \u666e\u901a\u7528\u6237\u53ef\u4ee5\u83b7\u53d6\u516c\u5f00\u7c7b\u578b\u7684\u96c6\u7fa4\n3. \u666e\u901a\u7528\u6237\u53ea\u80fd\u83b7\u53d6\u81ea\u5df1\u7ba1\u7406\u7684\u79c1\u6709\u96c6\u7fa4", "parameters": [{"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Clusters"}}}}}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_clusters_create", "description": "\u65b0\u589e\u96c6\u7fa4", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Clusters"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Clusters"}}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/clusters/{id}/": {"get": {"operationId": "api_v2_manage_clusters_read", "description": "\u96c6\u7fa4\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Clusters"}}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_clusters_update", "description": "\u66f4\u65b0\u96c6\u7fa4", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Clusters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Clusters"}}}, "tags": ["manage"]}, "patch": {"operationId": "api_v2_manage_clusters_partial_update", "description": "\u96c6\u7fa4\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Clusters"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Clusters"}}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_clusters_delete", "description": "\u5220\u9664\u96c6\u7fa4", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u96c6\u7fa4.", "required": true, "type": "integer"}]}, "/api/v2/manage/fault-tracking-history/": {"get": {"operationId": "api_v2_manage_fault-tracking-history_list", "description": "\u6545\u969c\u8ddf\u8e2a\u5386\u53f2\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/FaultTrackingHistory"}}}}}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_fault-tracking-history_create", "description": "\u6545\u969c\u8ddf\u8e2a\u5386\u53f2\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultTrackingHistory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FaultTrackingHistory"}}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/fault-tracking-history/{id}/": {"get": {"operationId": "api_v2_manage_fault-tracking-history_read", "description": "\u6545\u969c\u8ddf\u8e2a\u5386\u53f2\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FaultTrackingHistory"}}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_fault-tracking-history_update", "description": "\u6545\u969c\u8ddf\u8e2a\u5386\u53f2\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultTrackingHistory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FaultTrackingHistory"}}}, "tags": ["manage"]}, "patch": {"operationId": "api_v2_manage_fault-tracking-history_partial_update", "description": "\u6545\u969c\u8ddf\u8e2a\u5386\u53f2\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultTrackingHistory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FaultTrackingHistory"}}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_fault-tracking-history_delete", "description": "\u6545\u969c\u8ddf\u8e2a\u5386\u53f2\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u6545\u969c\u8ddf\u8e2a\u5386\u53f2.", "required": true, "type": "integer"}]}, "/api/v2/manage/k8s/cluster/complete/": {"get": {"operationId": "api_v2_manage_k8s_cluster_complete_list", "description": "\u73af\u5883\u7684\u5b8c\u6574\u6027", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_k8s_cluster_complete_create", "description": "\u6821\u9a8c\u73af\u5883\u5b8c\u6574\u6027", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/k8s/clusters/{cluster}/namespaces/": {"get": {"operationId": "api_v2_manage_k8s_clusters_namespaces_list", "description": "k8s\u96c6\u7fa4", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "cluster", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/k8s/pods/": {"get": {"operationId": "api_v2_manage_k8s_pods_list", "description": "K8S pod\u7ba1\u7406", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/k8s/{cluster}/{namespace}/{pod_name}/": {"delete": {"operationId": "api_v2_manage_k8s_delete", "description": "pod \u64cd\u4f5c", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "cluster", "in": "path", "required": true, "type": "string"}, {"name": "namespace", "in": "path", "required": true, "type": "string"}, {"name": "pod_name", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/product-repositories/": {"get": {"operationId": "api_v2_manage_product-repositories_list", "description": "\u5236\u54c1\u4ed3\u5e93\u89c6\u56fe\u96c6", "parameters": [{"name": "name", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "product_type", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ProductRepository"}}}}}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_product-repositories_create", "description": "\u5236\u54c1\u4ed3\u5e93\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductRepository"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductRepository"}}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/product-repositories/{id}/": {"get": {"operationId": "api_v2_manage_product-repositories_read", "description": "\u5236\u54c1\u4ed3\u5e93\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductRepository"}}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_product-repositories_update", "description": "\u5236\u54c1\u4ed3\u5e93\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductRepository"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductRepository"}}}, "tags": ["manage"]}, "patch": {"operationId": "api_v2_manage_product-repositories_partial_update", "description": "\u5236\u54c1\u4ed3\u5e93\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductRepository"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductRepository"}}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_product-repositories_delete", "description": "\u5236\u54c1\u4ed3\u5e93\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u5236\u54c1\u4ed3\u5e93.", "required": true, "type": "integer"}]}, "/api/v2/manage/role/functions/{role_id}/": {"get": {"operationId": "api_v2_manage_role_functions_read", "description": "\u67e5\u8be2\u89d2\u8272\u529f\u80fd\u6743\u9650", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_role_functions_update", "description": "\u4fee\u6539\u89d2\u8272\u529f\u80fd\u6743\u9650\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "role_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/role/modules/{role_id}/": {"get": {"operationId": "api_v2_manage_role_modules_read", "description": "\u67e5\u8be2\u89d2\u8272\u6a21\u5757\u6743\u9650", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_role_modules_update", "description": "\u4fee\u6539\u89d2\u8272\u6a21\u5757\u6743\u9650\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "role_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/manage/templates/apps/": {"get": {"operationId": "api_v2_manage_templates_apps_list", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AppTemplates"}}}}}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_templates_apps_create", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppTemplates"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AppTemplates"}}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/templates/apps/groups/": {"get": {"operationId": "api_v2_manage_templates_apps_groups_list", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AppTemplateGroup"}}}}}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_templates_apps_groups_create", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppTemplateGroup"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AppTemplateGroup"}}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/templates/apps/groups/{fid}/": {"get": {"operationId": "api_v2_manage_templates_apps_groups_read", "description": "\u83b7\u53d6\u5355\u4e2a\u5206\u7ec4\u7684\u8be6\u60c5\u6570\u636e", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppTemplateGroup"}}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_templates_apps_groups_update", "description": "\u4fee\u6539\u5206\u7ec4\u7684\u6570\u636e", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppTemplateGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppTemplateGroup"}}}, "tags": ["manage"]}, "patch": {"operationId": "api_v2_manage_templates_apps_groups_partial_update", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppTemplateGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppTemplateGroup"}}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_templates_apps_groups_delete", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique integer value identifying this \u5e94\u7528\u6a21\u677f\u5206\u7ec4.", "required": true, "type": "integer"}]}, "/api/v2/manage/templates/apps/{fid}/": {"get": {"operationId": "api_v2_manage_templates_apps_read", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppTemplates"}}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_templates_apps_update", "description": "\u66f4\u65b0\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppTemplates"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppTemplates"}}}, "tags": ["manage"]}, "patch": {"operationId": "api_v2_manage_templates_apps_partial_update", "description": "\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AppTemplates"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AppTemplates"}}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_templates_apps_delete", "description": "\u5220\u9664\u5e94\u7528\u5143\u6570\u636e\u6a21\u677f", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique value identifying this \u5e94\u7528\u6a21\u677f.", "required": true, "type": "string"}]}, "/api/v2/manage/templates/pipelines/": {"get": {"operationId": "api_v2_manage_templates_pipelines_list", "description": "\u6d41\u6c34\u7ebf\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PipelineTemplates"}}}}}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_templates_pipelines_create", "description": "\u65b0\u589e\u6d41\u6c34\u7ebf\u6a21\u677f", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PipelineTemplates"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplates"}}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/templates/pipelines/groups/": {"get": {"operationId": "api_v2_manage_templates_pipelines_groups_list", "description": "\u6d41\u6c34\u7ebf\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PipelineTemplateGroup"}}}}}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_templates_pipelines_groups_create", "description": "\u6d41\u6c34\u7ebf\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PipelineTemplateGroup"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplateGroup"}}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/templates/pipelines/groups/{fid}/": {"get": {"operationId": "api_v2_manage_templates_pipelines_groups_read", "description": "\u83b7\u53d6\u5355\u4e2a\u5206\u7ec4\u7684\u8be6\u60c5\u6570\u636e", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplateGroup"}}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_templates_pipelines_groups_update", "description": "\u4fee\u6539\u5206\u7ec4\u7684\u6570\u636e", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PipelineTemplateGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplateGroup"}}}, "tags": ["manage"]}, "patch": {"operationId": "api_v2_manage_templates_pipelines_groups_partial_update", "description": "\u6d41\u6c34\u7ebf\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PipelineTemplateGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplateGroup"}}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_templates_pipelines_groups_delete", "description": "\u6d41\u6c34\u7ebf\u6a21\u677f\u5206\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique integer value identifying this \u6d41\u6c34\u7ebf\u6a21\u677f\u5206\u7ec4.", "required": true, "type": "integer"}]}, "/api/v2/manage/templates/pipelines/{fid}/": {"get": {"operationId": "api_v2_manage_templates_pipelines_read", "description": "\u83b7\u53d6\u5355\u4e2a\u6d41\u6c34\u7ebf\u6a21\u677f", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplates"}}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_templates_pipelines_update", "description": "\u66f4\u65b0\u6d41\u6c34\u7ebf\u6a21\u677f", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PipelineTemplates"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplates"}}}, "tags": ["manage"]}, "patch": {"operationId": "api_v2_manage_templates_pipelines_partial_update", "description": "\u6d41\u6c34\u7ebf\u6a21\u677f\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PipelineTemplates"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PipelineTemplates"}}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_templates_pipelines_delete", "description": "\u5220\u9664\u6d41\u6c34\u7ebf\u6a21\u677f", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique value identifying this \u6d41\u6c34\u7ebf\u6a21\u677f.", "required": true, "type": "string"}]}, "/api/v2/manage/webhooks/": {"get": {"operationId": "api_v2_manage_webhooks_list", "description": "\u67e5\u8be2\u6240\u6709\u7684webhook", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "put": {"operationId": "api_v2_manage_webhooks_update", "description": "\u6279\u91cf\u4fee\u6539webhook", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "delete": {"operationId": "api_v2_manage_webhooks_delete", "description": "\u6279\u91cf\u5220\u9664webhook", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/webhooks/batch/": {"get": {"operationId": "api_v2_manage_webhooks_batch_list", "description": "webhook \u6279\u91cf\u64cd\u4f5c", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["manage"]}, "post": {"operationId": "api_v2_manage_webhooks_batch_create", "description": "\u6279\u91cf\u65b0\u589ewebhook", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/manage/webhooks/batch/replace/": {"post": {"operationId": "api_v2_manage_webhooks_batch_replace_create", "description": "\u6279\u91cf\u6279\u91cfwebhook", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["manage"]}, "parameters": []}, "/api/v2/notifications/send-message/": {"post": {"operationId": "api_v2_notifications_send-message_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SendMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SendMessage"}}}, "tags": ["notifications"]}, "parameters": []}, "/api/v2/notifications/site-messages/": {"get": {"operationId": "api_v2_notifications_site-messages_list", "description": "", "parameters": [{"name": "has_read", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SiteMessage"}}}}}}, "tags": ["notifications"]}, "parameters": []}, "/api/v2/notifications/site-messages/mark-as-read-all/": {"patch": {"operationId": "api_v2_notifications_site-messages_mark_as_read_all", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SiteMessage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SiteMessage"}}}, "tags": ["notifications"]}, "parameters": []}, "/api/v2/notifications/site-messages/mark-as-read/": {"patch": {"operationId": "api_v2_notifications_site-messages_mark_as_read", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SiteMessageIds"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SiteMessageIds"}}}, "tags": ["notifications"]}, "parameters": []}, "/api/v2/notifications/site-messages/send/": {"post": {"operationId": "api_v2_notifications_site-messages_send", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SiteMessageSend"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SiteMessageSend"}}}, "tags": ["notifications"]}, "parameters": []}, "/api/v2/notifications/site-messages/unread-total/": {"get": {"operationId": "api_v2_notifications_site-messages_unread_total", "description": "", "parameters": [{"name": "has_read", "in": "query", "description": "", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SiteMessage"}}}}}}, "tags": ["notifications"]}, "parameters": []}, "/api/v2/notifications/site-messages/{id}/": {"get": {"operationId": "api_v2_notifications_site-messages_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SiteMessage"}}}, "tags": ["notifications"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/orgs/groups/": {"get": {"operationId": "api_v2_orgs_groups_list", "description": "\u8fd4\u56de\u7fa4\u7ec4\u7684\u5217\u8868", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Group"}}}}}}, "tags": ["orgs"]}, "post": {"operationId": "api_v2_orgs_groups_create", "description": "\u65b0\u589e\u7fa4\u7ec4", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["orgs"]}, "parameters": []}, "/api/v2/orgs/groups/{group_id}/member/": {"post": {"operationId": "api_v2_orgs_groups_member_create", "description": "\u65b0\u589e\u7fa4\u7ec4\u7528\u6237", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["orgs"]}, "delete": {"operationId": "api_v2_orgs_groups_member_delete", "description": "\u7528\u6237\u9000\u51fa\u7fa4\u7ec4", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["orgs"]}, "parameters": [{"name": "group_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/orgs/groups/{id}/": {"get": {"operationId": "api_v2_orgs_groups_read", "description": "\u83b7\u53d6\u5355\u4e2a\u7fa4\u7ec4\u7684\u8be6\u60c5", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["orgs"]}, "put": {"operationId": "api_v2_orgs_groups_update", "description": "\u4fee\u6539\u7fa4\u7ec4", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["orgs"]}, "patch": {"operationId": "api_v2_orgs_groups_partial_update", "description": "\u4fee\u6539\u7fa4\u7ec4\u7684\u90e8\u5206\u5185\u5bb9", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Group"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Group"}}}, "tags": ["orgs"]}, "delete": {"operationId": "api_v2_orgs_groups_delete", "description": "\u7fa4\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["orgs"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this \u7ec4.", "required": true, "type": "integer"}]}, "/api/v2/orgs/organization/": {"get": {"operationId": "api_v2_orgs_organization_list", "description": "\u83b7\u53d6\u90e8\u95e8\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["orgs"]}, "parameters": []}, "/api/v2/orgs/organization/detail/": {"get": {"operationId": "api_v2_orgs_organization_detail_list", "description": "\u83b7\u53d6\u90e8\u95e8\u6570\u636e", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["orgs"]}, "parameters": []}, "/api/v2/orgs/organization/member/{org_id}/": {"get": {"operationId": "api_v2_orgs_organization_member_read", "description": "\u83b7\u53d6\u90e8\u95e8\u6210\u5458", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["orgs"]}, "parameters": [{"name": "org_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/orgs/relations/": {"post": {"operationId": "api_v2_orgs_relations_create", "description": "\u66f4\u65b0\u7528\u6237\u7684\u90e8\u95e8\u4fe1\u606f", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["orgs"]}, "parameters": []}, "/api/v2/pipeline/all/": {"get": {"operationId": "api_v2_pipeline_all_list", "description": "\u83b7\u53d6\u6240\u6709\u6d41\u6c34\u7ebf", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/batch/copy/stage/byName/": {"post": {"operationId": "api_v2_pipeline_batch_copy_stage_byName_create", "description": "\u6279\u91cf\u590d\u5236\u6d41\u6c34\u7ebf\u9636\u6bb5,\u901a\u8fc7\u540d\u5b57", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/batch/pipeline/": {"put": {"operationId": "api_v2_pipeline_batch_pipeline_update", "description": "\u6279\u91cf\u4fee\u6539\u4fdd\u5b58\u6d41\u6c34\u7ebf\uff08\u6a21\u62df\u70b9\u51fb\u4fee\u6539\u540e\u76f4\u63a5\u4fdd\u5b58\u7684\u64cd\u4f5c\uff0c\u4f1a\u81ea\u52a8\u66f4\u65b0Jenkinsfile\uff09", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/batch/stage/": {"post": {"operationId": "api_v2_pipeline_batch_stage_create", "description": "\u6279\u91cf\u65b0\u589e\u6d41\u6c34\u7ebf\u9636\u6bb5\uff0c\u901a\u8fc7\u56fa\u5b9a\u9636\u6bb5\u5e8f\u53f7", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/batch/stage/byName/": {"post": {"operationId": "api_v2_pipeline_batch_stage_byName_create", "description": "\u6279\u91cf\u65b0\u589e\u6d41\u6c34\u7ebf\u9636\u6bb5,\u901a\u8fc7\u540d\u5b57", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "delete": {"operationId": "api_v2_pipeline_batch_stage_byName_delete", "description": "\u6279\u91cf\u5220\u9664\u6d41\u6c34\u7ebf\u9636\u6bb5\uff0c\u901a\u8fc7\u540d\u5b57", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/check/webhook/": {"get": {"operationId": "api_v2_pipeline_check_webhook_list", "description": "\u68c0\u67e5webhook", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/gitlab/webhook/trigger/{pipeline_id}": {"post": {"operationId": "api_v2_pipeline_gitlab_webhook_trigger_create", "description": "webhook\u89e6\u53d1\u8fd0\u884c", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "pipeline_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/group/{group_name}/": {"post": {"operationId": "api_v2_pipeline_group_create", "description": "\u65b0\u589e\u5206\u7ec4", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "put": {"operationId": "api_v2_pipeline_group_update", "description": "\u4fee\u6539\u5206\u7ec4", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "delete": {"operationId": "api_v2_pipeline_group_delete", "description": "\u5220\u9664\u5206\u7ec4", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "group_name", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/group/{group_name}/manage/": {"get": {"operationId": "api_v2_pipeline_group_manage_list", "description": "\u83b7\u53d6\u5206\u7ec4\u7684\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "put": {"operationId": "api_v2_pipeline_group_manage_update", "description": "\u4fee\u6539\u5206\u7ec4\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "group_name", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/monitor/market/": {"get": {"operationId": "api_v2_pipeline_monitor_market_list", "description": "\u6d41\u6c34\u7ebf\u7684\u5168\u5c40\u76d1\u63a7\u5927\u76d8", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/monitor/tasks/": {"get": {"operationId": "api_v2_pipeline_monitor_tasks_list", "description": "\u6d41\u6c34\u7ebf\u76f8\u5173\u7684\u76d1\u63a7\u4efb\u52a1", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/operations/{pipeline_name}/": {"post": {"operationId": "api_v2_pipeline_operations_create", "description": "\u89e6\u53d1\u6d41\u6c34\u7ebf\u8fd0\u884c", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "delete": {"operationId": "api_v2_pipeline_operations_delete", "description": "\u7ec8\u6b62\u6d41\u6c34\u7ebf\u8fd0\u884c", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "pipeline_name", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/operations/{pipeline_name}/{stage_seq}/": {"put": {"operationId": "api_v2_pipeline_operations_update", "description": "\u6d41\u6c34\u7ebf\u9636\u6bb5\u64cd\u4f5c", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "pipeline_name", "in": "path", "required": true, "type": "string"}, {"name": "stage_seq", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/pipelines/{pipeline_id}/members/": {"get": {"operationId": "api_v2_pipeline_pipelines_members_list", "description": "\u83b7\u53d6\u5f53\u524d\u6d41\u6c34\u7ebf\u7684\u6210\u5458", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "post": {"operationId": "api_v2_pipeline_pipelines_members_create", "description": "\u65b0\u589e\u6d41\u6c34\u7ebf\u6210\u5458", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "patch": {"operationId": "api_v2_pipeline_pipelines_members_partial_update", "description": "\u6d41\u6c34\u7ebf\u6210\u5458\u63a5\u53e3", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "delete": {"operationId": "api_v2_pipeline_pipelines_members_delete", "description": "\u6d41\u6c34\u7ebf\u6210\u5458\u63a5\u53e3", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "pipeline_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/products/files/": {"get": {"operationId": "api_v2_pipeline_products_files_list", "description": "\u83b7\u53d6\u5236\u54c1\u955c\u50cf\u7684\u6587\u4ef6", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "post": {"operationId": "api_v2_pipeline_products_files_create", "description": "\u5f02\u6b65\u83b7\u53d6\u955c\u50cf\u5236\u54c1\u6587\u4ef6", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/products/files/download/": {"get": {"operationId": "api_v2_pipeline_products_files_download_list", "description": "\u4e0b\u8f7d\u5236\u54c1\u955c\u50cf\u7684\u6587\u4ef6", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/task/groups/": {"get": {"operationId": "api_v2_pipeline_task_groups_list", "description": "\u4efb\u52a1\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "ordering", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/TaskGroup"}}}}}}, "tags": ["pipeline"]}, "post": {"operationId": "api_v2_pipeline_task_groups_create", "description": "\u4efb\u52a1\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TaskGroup"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TaskGroup"}}}, "tags": ["pipeline"]}, "parameters": []}, "/api/v2/pipeline/task/groups/{fid}/": {"get": {"operationId": "api_v2_pipeline_task_groups_read", "description": "\u4efb\u52a1\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TaskGroup"}}}, "tags": ["pipeline"]}, "put": {"operationId": "api_v2_pipeline_task_groups_update", "description": "\u4efb\u52a1\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TaskGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TaskGroup"}}}, "tags": ["pipeline"]}, "patch": {"operationId": "api_v2_pipeline_task_groups_partial_update", "description": "\u4efb\u52a1\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TaskGroup"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TaskGroup"}}}, "tags": ["pipeline"]}, "delete": {"operationId": "api_v2_pipeline_task_groups_delete", "description": "\u4efb\u52a1\u7ec4\u7684\u89c6\u56fe\u96c6", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "fid", "in": "path", "description": "A unique integer value identifying this \u4efb\u52a1\u7c7b\u578b\u7ec4.", "required": true, "type": "integer"}]}, "/api/v2/pipeline/task/{task_id}/parameter/": {"put": {"operationId": "api_v2_pipeline_task_parameter_update", "description": "\u4fee\u6539\u4efb\u52a1\u53c2\u6570", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "task_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/tasks/{task_id}/": {"get": {"operationId": "api_v2_pipeline_tasks_read", "description": "\u83b7\u53d6\u4efb\u52a1", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "post": {"operationId": "api_v2_pipeline_tasks_create", "description": "\u65b0\u589e\u4efb\u52a1", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "put": {"operationId": "api_v2_pipeline_tasks_update", "description": "\u4fee\u6539\u4efb\u52a1", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "delete": {"operationId": "api_v2_pipeline_tasks_delete", "description": "\u5220\u9664\u4efb\u52a1", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "task_id", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/tasks/{task_name}/details/": {"get": {"operationId": "api_v2_pipeline_tasks_details_list", "description": "\u83b7\u53d6\u4efb\u52a1\u4fe1\u606f", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name": "task_name", "in": "path", "required": true, "type": "string"}]}, "/api/v2/pipeline/templates/{pipeline_template_id}/": {"post": {"operationId": "api_v2_pipeline_templates_create", "description": "\u6a21\u677f\u6d41\u6c34\u7ebf\u65b0\u589e", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["pipeline"]}, "parameters": [{"name"
[...]
